
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
/* asterisco significa aplicar o css a tudo, como no exemplo margin e padding*/
*{   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%; /*10px / 16px * font size dividido pelo tamanho padrão do navegador*/
}
h1 {
    font-family: 'Poppins';
    font-size: 3.75rem;
    font-weight: 900;
    color: #FFF;
    
}
span {
color:#FFF;
font-family: 'Montserrat';
font-size: 4.5rem;
}


header{
    height:100vh;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    color:#FFF;
    /*shorthand: ao inves de escrever propriedades separadas, posso aglutina-las em uma propriedade apenas*/
    padding: 21rem 11rem; /*o primeiro valor é 21 embaixo e encima, o segundo é na esquerda e na direita*/

}
/*para indicar no css uma classe, usamos o prefixo . (significa que esse bloco de css é da classe botão)*/

.botão{
padding: 14px 111px;
background: linear-gradient(90deg, );
border-radius: 10px;
font-family: 'Montserrat';
font-size: 3rem;
color:#FFF;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.avatar{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transform: scale(1.3);
    
}
#sessao-projetos{
    background-color: #212121;
    color:var(--color-default);

}
#sessao-projetos ul{
    displaY:flex;
    justify-content: space-around;
}
.card{
    position:relative;
    cursor: pointer;
}

.card:hover .card-image{
    opacity: .2;
}
.card-image img{
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.card-info{
    position: absolute;
    bottom:20%;
    opacity: 0;
    transition: opacity .5s ease-in-out, bottom .5s;
}
.card:hover .card-info{
    opacity: 1;
    bottom: 20%;


}

#orcamento{
    height: 100vh;
    background-color: blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 
 
 #orcamento form{
    border-radius: 10px;
    grid-template-columns: 1rf, 1rf;
    justify-items:start;
 background-color: beige;
 display:grid;
 padding:2rem;
 position:relative;
 row-gap: 2rem;
 }
 
 #orcamento h3{
    position: absolute;
    top: -10%;
    background-color: brown;
    color: aquamarine;
 }
 
 
 input[type=number]{
    padding: .5rem;
    background-color: darkorange;
 }